<h1>Editing User Balance History</h1>

<%= render 'form', user_balance_history: @user_balance_history %>

<%= link_to 'Show', @user_balance_history %> |
<%= link_to 'Back', user_balance_histories_path %>
